.gray {
    background-color: gray;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.row {
    padding-bottom: 10px;
}

input[type="text" i] {
    width: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

input[type="button" i] {
    margin-right: 8px;
    position: relative;
    top: 7px;
    height: 25px;
    width: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
}